@import url("base.css");
@import url("dropbox.css");
@import url("fonts.css");
@import url("footer.css");
@import url("forms.css");
@import url("navbar.css");
@import url("tables.css");

/* Main */
main {
    padding: 20px;
    margin: 0 auto;
    flex: 1;
    padding-bottom: 60px;
}

/* Drop box */
#drop-area {
    width: 600px;
    height: 150px;
    border: 2px dashed #f0f0f0;
    text-align: center;
    line-height: 150px;
    margin: 50px auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

#drop-area.dragging {
    border-color: #000;
}

/* Button */
button {
    display: block;
    margin: 20px auto;
    background-color: #841617;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4e0002;
}

/* Horizontal line */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f0f0f0;
    margin: 1em auto;
    padding: 0;
}

/* Social links */
.social-links a {
    color: #f0f0f0;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
}

.social-links a:hover {
    color: #ffffff;
}

/* Responsive Design */
@media (min-width: 1024px) {
    .navbar ul {
        justify-content: flex-start;
        margin-left: 10%;
    }
    .logo {
        justify-content: flex-start;
        margin-left: 10%;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    form {
        padding: 20px;
        width: 90%;
    }

    input[type="submit"] {
        font-size: 1em;
    }

    footer {
        position: relative;
    }

    main {
        padding-bottom: var(--footer-height, 80px);
    }
}